body {
    background-color: #e8e8e9;
    text-align: center;
    font-family: "Luckiest Guy", sans-serif;
    color: rgb(25, 20, 189);
}

header {
    padding: 2rem 0 0 0;
}

section {
    height: 100vh;
    padding: 2rem 0 2rem 0;
}

h1, h2 {
    display: none;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

img {
    width: 16rem;
    height: 16rem;
    border-radius: 50% 50% 20% 20%;
}

a {
    display: block;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    text-decoration: none;
    color: black;
}

nav a {
    font-size: 2rem;
    color: inherit;
}

#toplink {
    font-size: 1.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
