* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: monospace;
    color: rgb(25, 50, 255);
}

html {
    margin-bottom: 0;
    font-size: 20px;
}

body {
    height: calc(100vh - 1rem);
    margin: .5rem;
    border: 1px solid rgb(25, 50, 255);
    padding: 1rem;
    background-color: rgb(0, 5, 15);
}